In [1]:
class Address:
    ''' data about an address'''
    
    ''' attributes are: street, city '''
    
    def __init__(self, street = '', city = 'London'):
        self.street = street
        self.city = city
        
    def ChangeStreet(self,new):
        self.street = new
        
    def ChangeCity(self,new):
        self.city = new

In [3]:
Ad1 = Address('Exhibition Road','Manchester')
Ad2 = Address('Exhibition Road')

print(Ad1.street,Ad1.city)
print(Ad2.street,Ad2.city)

Exhibition Road Manchester
Exhibition Road London

In [4]:
class Point:
    ''' represents a 2D point '''
    
    ''' attributes are: x, y '''
    
    def __init__(self,xa = '', ya = ''):
        self.x = xa
        self.y = ya

In [5]:
P1 = Point(3,4)
print(P1.x,P1.y)

3 4

In [29]:
class Contact:
    ''' data about an address'''
    
    ''' attributes are: email, tel '''
    
    def __init__(self, email = '', tel = ''):
        self.email = email
        self.tel = tel
        
    def ChangeEmail(self,new):
        self.email = new
        
    def ChangeTel(self,new):
        self.tel = new

In [30]:
class Person:
    ''' data about an individual'''
    
    ''' attributes are: name, address, contact '''
 
    def __init__(self, name = '',address=Address(), contact=Contact()):
        self.name = name
        self.address = address
        self.contact = contact
        
    def ChangeName(self,new):
        self.name = new

In [31]:
Person1 = Person('John')
print(Person1.name)
Person1.ChangeName('Jonathan')
print(Person1.name)
Ad = Address('Exhibition Road','Manchester')
Cn = Contact('john@ic.ac.uk','0723848484')
Person1.address = Ad
Person1.contact = Cn
print(Person1.address.street)

John
Jonathan
Exhibition Road

In [32]:
Person2 = Person('Hanna')
print(Person2.address.street)
Person2.address.street = 'Exhibition Road'
print(Person2.address.city)
Person2.address.city = 'Liverpool'
print(Person2.address.city)
Person2.address.ChangeCity('Leeds')
print(Person2.address.city)

London
Liverpool
Leeds

In [33]:
Person3 = Person('Paul')
Person3.address.street = 'Piccadilly Circus'
Person3.address.city = 'Southampton'

In [34]:
class Account:
    ''' defines a back account'''
    
    ''' attributes: sort code, acc number, balance'''
    
    def __init__(self, code='', number='', balance = ''):
        self.code = code
        self.number = number
        self.balance = balance
        
    def MoveMoneyTo(self,accTo,value):
        self.balance -= value
        accTo.balance += value

In [35]:
class Client(Person):
    ''' inherit the attributes and method of class Person '''
    
    ''' with another attribute: accounts'''
    
    def __init__(self, account=Account()):
        self.account = account

In [36]:
class Employee(Person):
    ''' inherit the attributes and method of class Person '''
    
    ''' with another attribute: CID '''
    
    def __init__(self, cid=''):
        self.cid = cid

In [40]:
Client1 = Client()
Client1 = Person1

Employee1 = Employee()
Employee1 = Person2

print(Client1.name+' lives in '+Client1.address.city)
print(Employee1.name+' lives in '+Employee1.address.street+', '+Employee1.address.city)
Employee1.address.ChangeCity('Bristol')
print(Employee1.name+' lives in '+Employee1.address.street+', '+Employee1.address.city)

Jonathan lives in Manchester
Hanna lives in Piccadilly Circus, Southampton
Hanna lives in Piccadilly Circus, Bristol

In [41]:
Client2 = Client()
Client2 = Person3

In [42]:
Account1 = Account('20-02-98','345',45000)
Account2 = Account('30-05-66','221',90000)
print(Account1.balance,Account2.balance)

45000 90000

In [43]:
Account1.MoveMoneyTo(Account2,1000)
print(Account1.balance,Account2.balance)

44000 91000

In [44]:
Client1.account = Account1
Client2.account = Account2

In [45]:
Client1.account.MoveMoneyTo(Client2.account,1000)
print(Account1.balance,Account2.balance)

43000 92000

In [47]:
Clients = [Client1, Client2]
Employees = [Employee1]

print(Clients[1].name)
print(Clients[1].account.balance)

Paul
92000

In [48]:
class Bank:
    ''' defines all the people associated with a bank'''
    
    ''' attributes: clients, employees, governance'''

In [51]:
Barclays = Bank()
Lloyds = Bank()

Barclays.clients = [Client1, Client2]
Barclays.employees = [Employee1]
Barclays.governance = ['Eda Reinlin - P', 'Henry Ford - VP business','Ros Patty - VP international']

print(Barclays.governance)
print(Barclays.clients[0].name)
print(Barclays.clients[0].account.balance)

['Eda Reinlin - P', 'Henry Ford - VP business', 'Ros Patty - VP international']
Jonathan
43000